# App-specific requirements

# Web framework
streamlit>=1.30

# Core libraries
pandas>=1.3
python-dotenv>=1.0.0

# NLP and LLMs
openai>=1.0
transformers>=4.36
torch>=2.0
sentencepiece>=0.1.99

# Utility libraries
nest_asyncio>=1.6.0
pdfplumber>=0.9.0
aiohttp>=3.8.1
